body {
    background-color: #101817;
    font-family: "Google Sans", sans-serif;
}

/* Header start */
header {
    background-color: #DDE8E0;
    
}
    /* logo */
#hdrimg {
    width: 70%;
    height: auto;
    background-color: #868b8b; border-radius: 50%;
}
    /* buttons */


.index {
    color: #1A2421;
    text-decoration: none
}

.contact {
    color: #1A2421;
    text-decoration: none
}

.blog {
    color: #1A2421;
    text-decoration: none;
}
    /* dropdown */
#drpdwn {
    color: #8FAF9A;
    border-color: #8FAF9A;
}
/* header end */

#carouselExampleAutoplaying {
    z-index: 0;
}

#BlogTitle {
    z-index: 1;
    font-size: 100%;
}

.carousel-container {
    position: relative;
}

.carousel-text {
    position: absolute;
    z-index: 1;

    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #F3F5F2;
    text-align: center;

    border-radius: 20px;
}

#blogbtn {
    text-decoration: none;
}

.carousel-text2 {
    position: absolute;
    z-index: 1;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #F3F5F2;
    text-align: center;

    background-color: #8FAF9A;

    border-radius: 20px;
    width: 55%;
}

.carousel-item img {
    width: 100%;
    aspect-ratio: 16 / 7;
    object-fit: cover;
}
/* carousel end */

/*  image start */
.carousel-container {
    position: relative;
}

#BlogTitle {
    z-index: 1;
    font-size: 100%;
}

.carousel-text {
    position: absolute;
    z-index: 1;

    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #F3F5F2;
    text-align: center;

    border-radius: 20px;
}

.carousel-text2 {
    position: absolute;
    z-index: 1;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #F3F5F2;
    text-align: center;

    background-color: #8FAF9A;

    border-radius: 20px;
    width: 55%;
}

.static-hero-img {
    width: 100%;
    aspect-ratio: 16 / 8;
    object-fit: cover;
    z-index: 0;
}
/*  image end */

/* footer start */
footer {
    background-color: #DDE8E0;
}

#rights {
    text-align: center;
}

/* contact */
#ftrbtn {
    border-color: #1A2421;
    color: #1A2421;
}

#ftrbtn:hover {
    background-color: #4b5554;
    border-color: #F3F5F2;
    color: #F3F5F2;
}

/* socials */
#socials1 {
    width: 15%;
    height: auto;
}
#socials2 {
    width: 15%;
    height: auto;
}
#socials3 {
    width: 15%;
    height: auto;
}
#socials4 {
    width: 15%;
    height: auto;
}

#rowclr {
    background-color: #1A2421;
}
/* footer end */
/* contact page */

#contacts {
    color: #5e5e5e;
    background-color: #868B8B;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;
    
    width: 90%;
    max-width: 450px; 
    padding: 20px 0;
}

#okbtn {
    color: #eaeeed;
    border-color: #e6eceb;
    border-radius: 18px;
}

#okbtn:hover {
    background-color: #4b5554;
    border-color: #F3F5F2;
    color: #F3F5F2;
}

#cname, #cemail, #cnachricht {
    width: 80%;
    max-width: 350px;
    box-sizing: border-box;
    border-radius: 5px;
    border-color: black;
}

#cnachricht {
    height: 120px;
}

#sbtbtn {
    border-color: #e6eceb;
    color: #eaeeed;
    width: 40%;
    max-width: 150px;
    border-radius: 50px;
}

#sbtbtn:hover {
    background-color: #4b5554;
    border-color: #F3F5F2;
    color: #F3F5F2;
}


#tic {
    color: #F3F5F2;
}

/* blog */
#img1, #img2, #img3, #img4, #img5 {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    
}

#txtblog {
    color: #5e5e5e;
    text-align: center;
}

#ttlblg {
    text-align: center;
    color: #F3F5F2;
    text-decoration: overline; 
}

#hr {
    color: #F3F5F2;
}

#bp1, #bp2, #bp3, #bp4, #bp5 {
    background-color: #A8B3AD;
    border-radius: 20px;
}

#bgt {
    background-color: rgba(168, 179, 173, 0.7); 
    z-index: 100;
    position: relative;
    margin-top: -70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#imgs {
    position: relative;
    z-index: 2;         
    margin-top: -200px; 
}